# pipeline trigger if the upstream releases
py_pve_cloud_upstream:
  stage: build
  image: docker.io/tobiashvmz/pve-cloud-ci:202601081028
  script:
    # write the new version
    - PESSIMISTIC_CONSTRAINT=$(/scripts/get-pessimistic-semver.sh $PY_PVE_CLOUD)
    - sed -i "s/^py-pve-cloud>=.*$/py-pve-cloud>=${PY_PVE_CLOUD},<${PESSIMISTIC_CONSTRAINT}/" requirements.txt
    - /scripts/upstream-push.sh "Update py-pve-cloud version to $PY_PVE_CLOUD (pessimistic)"
  rules:
    - if: '$PY_PVE_CLOUD != null && $PY_PVE_CLOUD != "" && $UPSTREAM_TAG_MESSAGE =~ /^release-.*/' # set by upstream only trigger on full release

py_pve_cloud_rc_upstream:
  stage: build
  image: docker.io/tobiashvmz/pve-cloud-ci:202601081028
  script:
    # get the latest prod tag
    - new_tag=$(/scripts/get-new-tag.sh)
    - echo $new_tag
    # switch to rc branch
    - /scripts/rc-branch.sh $new_tag
    # set rc version for py-pve-cloud-dependency
    - sed -i "s/^py-pve-cloud.*$/py-pve-cloud==${PY_PVE_CLOUD//-/}/" requirements.txt
    - /scripts/upstream-push.sh "Set py-pve-cloud rc version to ${PY_PVE_CLOUD//-/}" "${new_tag}-rc"
  rules:
    - if: '$PY_PVE_CLOUD != null && $PY_PVE_CLOUD != "" && $UPSTREAM_TAG_MESSAGE =~ /^rc-.*/' # set by upstream, trigger for rc release

# trigger a new release on gitlab
release_tag:
  stage: build
  image: docker.io/tobiashvmz/pve-cloud-ci:202601081028
  script:
    - /scripts/release-tag.sh
  rules:
    - if: '$CI_COMMIT_TAG =~ /^release-[a-z]+$/'
  resource_group: deploy-prod

rc_tag:
  stage: build
  image: docker.io/tobiashvmz/pve-cloud-ci:202601081028
  script:
    - /scripts/rc-tag.sh
  rules:
    - if: '$CI_COMMIT_TAG =~ /^rc-[a-z]+$/'
  resource_group: deploy-prod

# push the new tag to github so goreleaser can do its job
push_github:
  stage: deploy
  image: docker.io/tobiashvmz/pve-cloud-ci:202601081028
  script:
    - git config --global user.name "$GITLAB_USER_NAME"
    - git config --global user.email "$GITLAB_USER_EMAIL"
    # add github remote
    - git remote add github https://$GITHUB_TOKEN@github.com/Proxmox-Cloud/terraform-provider-pxc.git
    - git push github HEAD:master
    - git push github $CI_COMMIT_TAG
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/' # semver

push_rc_github:
  stage: deploy
  image: docker.io/tobiashvmz/pve-cloud-ci:202601081028
  script:
    - git config --global user.name "$GITLAB_USER_NAME"
    - git config --global user.email "$GITLAB_USER_EMAIL"
    # add github remote
    - git remote add github https://$GITHUB_TOKEN@github.com/Proxmox-Cloud/terraform-provider-pxc.git
    # no need to push the branch rc release tag is enough
    - git push github $CI_COMMIT_TAG
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+-rc\d+$/' # release candidate

goreleaser:
  stage: deploy
  needs: 
    - push_github # goreleaser needs tag on github to create release there
  image: goreleaser/goreleaser:v2.13.1
  script:
    - apk add gpg-agent # missing in goreleaser todo: build into image
    - echo "$GPG_EXPORTED_KEY_B64" | base64 -d > gpg-key.asc
    - gpg --batch --import gpg-key.asc
    - rm gpg-key.asc # remove the key, goreleaser needs clean state
    - goreleaser release # rest is sourced via env vars set by ci
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/' # semver
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+-rc\d+$/' # release candidate

publish_pypi:
  stage: deploy
  image:
    name: tobiashvmz/pve-cloud-pyci:2026010412
  script:
    - echo "__version__ = \"$CI_COMMIT_TAG\"" > src/pve_cloud_rpc/_version.py # dynamic versioning
    - python3 -m build
    - python3 -m twine upload dist/* -u __token__ -p $PYPI_TOKEN # skip gitlab oidc twine feature with -u and -p flags
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/' # semver
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+-rc\d+$/' # release candidate

downstream_tf_controller_module:
  stage: deploy
  needs:
    - goreleaser
  trigger:
    project: "pve-cloud/terraform-pxc-controller"
  variables:
    PXC_PROV_VERSION: $CI_COMMIT_TAG
    UPSTREAM_TAG_MESSAGE: $CI_COMMIT_TAG_MESSAGE # here we store the type of the release
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/' # semver
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+-rc\d+$/' # release candidate

downstream_tf_backup_module:
  stage: deploy
  needs:
    - goreleaser
  trigger:
    project: "pve-cloud/terraform-pxc-backup"
  variables:
    PXC_PROV_VERSION: $CI_COMMIT_TAG
    UPSTREAM_TAG_MESSAGE: $CI_COMMIT_TAG_MESSAGE # here we store the type of the release
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/' # semver
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+-rc\d+$/' # release candidate

format_source:
  stage: build
  image: tobiashvmz/pve-cloud-pyci:2026010412
  script:
    - git config --global user.name "$GITLAB_USER_NAME"
    - git config --global user.email "$GITLAB_USER_EMAIL"
    - autoflake --exclude protos --in-place --recursive .
    - black --exclude protos .
    - isort --skip protos .
    # commit the changes
    - |
      if ! git diff --quiet; then
        git add .
        git commit -m "Format and cleanup pipeline"
        git push origin HEAD:$CI_COMMIT_REF_NAME
      else
        echo "Nothing to clean or format!"
      fi
  rules:
    - if: >
        $CI_COMMIT_TAG !~ /^\d+\.\d+\.\d+$/ &&
        $CI_COMMIT_TAG !~ /^\d+\.\d+\.\d+-rc\d+$/ &&
        $CI_COMMIT_TAG !~ /^release-[a-z]+$/ &&
        $CI_COMMIT_TAG !~ /^rc-[a-z]+$/ &&
        $CI_PIPELINE_SOURCE == 'push'
      when: on_success
    - when: never
  resource_group: deploy-prod