# trigger a new release on gitlab
release_tag:
  stage: build
  image: tobiashvmz/pve-cloud-ci:2025121321
  script:
    - pwd
    - /scripts/release-tag.sh
  rules:
    - if: '$CI_COMMIT_TAG =~ /^release-[a-z]+$/'
    - if: '$CI_COMMIT_TAG =~ /^release-all-[a-z]+$/'
  resource_group: deploy-prod

# push the new tag to github so goreleaser can do its job
push_github:
  stage: deploy
  image: tobiashvmz/pve-cloud-ci:2025121321
  script:
    - git config --global user.name "$GITLAB_USER_NAME"
    - git config --global user.email "$GITLAB_USER_EMAIL"

    # add github remote
    - git remote add github https://$GITHUB_TOKEN@github.com/Proxmox-Cloud/terraform-provider-proxmox-cloud.git
    - git push github HEAD:master
    - git push github $CI_COMMIT_TAG

  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/' # semver


goreleaser:
  stage: deploy
  needs: 
    - push_github # goreleaser needs tag on github to create release there
  image: goreleaser/goreleaser:v2.13.1
  script:
    - apk add gpg-agent # missing in goreleaser todo: build into image
    - echo "$GPG_EXPORTED_KEY_B64" | base64 -d > gpg-key.asc
    - gpg --batch --import gpg-key.asc
    - rm gpg-key.asc # remove the key, goreleaser needs clean state
    - ls
    - export GITHUB_TAG=$CI_COMMIT_TAG
    - goreleaser release # rest is sourced via env vars set by ci
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/' # semver