---
page_title: "PXC Provider"
description: |-
  Terraform provider for integrating with proxmox cloud.
---

# PXC Provider

The terraform provider integrates proxmox clusters running [Proxmox Cloud](https://github.com/Proxmox-Cloud) into easy to access datasources and secrets.

Under the hood it uses a python rpc server that serves functionality from [py-pve-cloud](https://github.com/Proxmox-Cloud/py-pve-cloud).

It is meant to be used with proxmox cloud kubespray clusters.

## Example Usage

```terraform
provider "pxc" {
  kubespray_inv = "../kubespray-inv.yaml"
}
```

{{ .SchemaMarkdown | trimspace }}