---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
  {{ .Description }}
---

# {{.Name}} ({{.Type}})

This datasources fetches statically defined keys from proxmox / proxmox cloud.

Available key types are:

* `AUTOMATION` automation key generated in proxmox cloud setup => this key authenticates all created vms and lxcs
* `PVE_HOST_RSA` host key proxmox itself generates for authenticating and in cluster communication between the hosts

{{ .SchemaMarkdown | trimspace }}